.clip-player-view .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box, black, 10, 0, 0, 0);
}

.play-pause-toggle {
}

.play-pause-toggle > .ikonli-font-icon {
    -fx-icon-code: fth-play;
}

.play-pause-toggle: selected > .ikonli-font-icon {
    -fx-icon-code: fth-pause;
}

.mute-toggle {
}

.mute-toggle > .ikonli-font-icon {
    -fx-icon-code: fth-volume-2;
}

.mute-toggle: selected > .ikonli-font-icon {
    -fx-icon-code: fth-volume-x;
}