.browser-view {
}

.browser-header-pane {
    -fx-border-color: transparent transparent -color-border-default transparent;
}

.browser-view .progress-indicator {
    -fx-min-width: 50%;
    -fx-min-height: 50%;
    -fx-pref-width: 50%;
    -fx-pref-height: 50%;
}