.channel-group-list-view {
    -fx-background-color: -color-bg-default;
    -fx-max-width: 800;
}

.channel-group-tile {
    -fx-padding: 2 10;
    -fx-min-width: 250;
    -fx-max-width: 300;
}

.channel-group-cell .title {
    -fx-font-weight: bold;
    -fx-text-fill: -color-danger-fg;
}

.channel-group-cell .title>.label {
    -fx-cursor: text;
}

.channel-group-cell .comment>.label {
    -fx-cursor: text;
}