.merged-chat-room-view {
    -fx-border-color: transparent -color-border-default transparent transparent;
    -fx-background-color: -color-bg-default;
}

.merged-chat-room-header {
    -fx-border-color: transparent transparent -color-border-default transparent;
}

.merged-chat-room-header: selected {
    -fx-background-color: -color-success-subtle;
}

.merged-profile-image-container {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.merged-profile-image-container .menu-button .label {
    -fx-padding: 2 8 2 8;
}